name: Build and Package WineHQ 8.1 on Ubuntu 22.04 (i386 and amd64)

on:
  push:
    branches:
      - main

jobs:
  build_i386:
    name: Build WineHQ 8.1 (i386)
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: peh-1.1
        repository: find-404/PEH

    - name: Set up environment (i386)
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        sudo apt-get install -y build-essential libc6-dev-i386 gcc-multilib g++-multilib
        sudo apt-get install -y devscripts
        
    - name: Build WineHQ 8.1 (i386)
      run: |
        make
        sudo make install
        
    - name: Package build artifacts
      run: |
        7z a winehq-build.7z *

    - name: Upload build artifacts
      uses: actions/upload-artifact@v1
      with:
        name: winehq-build.7z
        path: winehq-build.7z
